@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400&display=swap');

:root {
    --boxit-black: #3C3C3C;
    --boxit-pink: #CB1C85;
    --boxit-light-grey: #F0F0F0;
    --boxit-white: #FFFEFE;
}

#root {
    height: 100%;
    background-color: var(--boxit-white);
}

body {
    height: 100vh;
    margin: 0;
}

* {
    color: var(--boxit-black);
    font-family: 'Chivo', sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.2rem;
}

hr {
    border: none;
    border-top: 2px var(--boxit-light-grey) solid;
    width: 100%;
    margin: 0;
}

/* HEADER */

header {
    background-color: white;
    align-items: center;
    padding: 0.5rem 2rem;
}

.cube-logo {
    width: 4.5rem;
    margin-right: 1rem;
}

/* BODY */

.body {
    margin: 2.5rem 2rem 0;
    height: 100%;
}

/* MENU */
.menu {
    width: fit-content;
    white-space: nowrap;
    margin: 0 2rem 0 1rem;
}

/* CONTENT */

.content {
    background-color: white;
    border: 2px solid var(--boxit-light-grey);
    border-radius: 0.8rem;
    flex-grow: 1;
    min-height: 40rem;
    max-width: 75rem;
}

/* BOX */

.cube-box {
    flex-shrink: 0;
    width: 4rem;
    margin-bottom: 1rem;
}

.box {
    background-color: white;
    border: 2px solid var(--boxit-light-grey);
    border-radius: 0.8rem;
    padding: 1rem;
    width: 13rem;
    height: 15rem;
    margin: 1rem;
}

.box h3 {
    margin: 1rem 0;
    line-break: anywhere;
}

.box-header {
    border-bottom: 2px solid var(--boxit-light-grey);
    margin-bottom: 1rem;
}

/* LOADING */
.loading {
    margin-top: 2rem;
}

/* DECORATIVE CLASSES*/

.spaced {
    letter-spacing: 3px;
}

.pink-hover {
    transition: color ease-in-out 0.2s;
}

.pink-hover:hover {
    color: var(--boxit-pink);
}

.shadow {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
}

.no-margin-btm {
    margin-bottom: 0;
}

.button {
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.3rem 1.8rem;
    transition: scale ease-in-out 0.1s;
    cursor: pointer;
}

.button:hover {
    scale: 0.95;
}

.text-center {
    text-align: center;
}

/* FLEX CLASSES*/
.flex {
    display: flex;
}

.center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.center-justify {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.apart {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 2rem;
}